/* ======== Animation   =======*/

@keyframes moveInRight{
	0%{
		opacity:0;
		transform:translateX(-100px);
	}
	80%{
		transform:translateX(10px);
	}
	100%{ 
		opacity:1;
		transform:translateX(0px);

	}
}
@keyframes moveInLeft{
	0%{
		opacity:0;
		transform:translateX(100px);
	}
	80%{
		transform:translateX(-10px);
	}
	100%
	{
		opacity:1;
		transform:translateX(0px);
	}
	
}
@keyframes moveUp{
	from{
		opacity:0;
		transform:translateY(40px);
	}
	to{
		opacity:1;
		transform:translateY(0px);
	}
}