*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    padding:3rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-text;
    font-family: 'Lato', sans-serif;
}

::selection{
    background-color:$color-primary;
    color:$color-white;
}