.heroText{
    h1{
        text-transform: uppercase;
        color:$color-white;
        font-size:6rem;	
        letter-spacing:3.5rem;  
    }
    h2{
        text-transform:uppercase;
        color:$color-white;
        letter-spacing:1.75rem;   
    } 
}

.section_heading{
    text-align:center;
    margin-top:-20vh;
    font-size:3.5rem;
    text-transform:uppercase;
    font-weight:700;
    margin:0;
    // background-image: linear-gradient(to right, $color-primary, $color-darkgreen );
    // background-clip:text;
    // -webkit-background-clip:text;
    // color:transparent; 
    @include textClipGradient;
    transition:all 0.2s;
    &:hover{
        transform:skewY(2deg) skewX(20deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-dark, .2);
    }
    
}
.heading_tertiary{
    font-size:1.6rem;
    font-weight:700;
    text-transform:uppercase;
}
.paragraph{
    font-size:1.6rem;
    margin-bottom:3rem;
}