.container{
    width:114rem;
    margin: 0 auto;
    max-width:100%;
}
.row{
   @include clearfix;
     
}
.mb-8{
    margin-bottom:8rem;
}
.mt-8{
    margin-top:8rem;
}
.mb-6{
    margin-bottom:6rem;
}
.mb-4{
    margin-bottom:4rem;
}
.mb-2{
    margin-bottom:2rem;
}
.mb-1{
    margin-bottom:1rem;
}
.pr-6{
    padding-right:6rem !important;
}
.col_6{
    float:left;
    width:50%;
    padding:0px 1.5rem;
}
.col-4{
    float:left;
    width:33%;
    padding:0px 1.5rem;
}
.col_3{
    float:left;
    width:25%;
    padding:0px 1.5rem;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-justify{
    text-align: justify;
}
.left-border{
    border-left:1px solid $color-grey-2; 
}

