$color-primary: #7ed56f;
$color-secondary: #55c77a;
$color-darkgreen:#28b485;
$color-text:#777;
$color-white:#fff;
$color-dark:#000;
$color-gradient-one:rgba(126,213,111,0.8); 
$color-gradient-two:rgba(40,180,133,0.8); 

$color-grey-1: #f7f7f7;
$color-grey-2: #9999;
$color-grey-3: #333;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
 
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
