.section_footer{
    background-color: $color-grey-3;
    padding:15rem 0;
    .footer_logo_box{
        img{
            max-width:22rem;
        }
    }
    .footer_list{
        border-top:1px solid $color-text;
        padding-top:2rem;
        list-style:none;
        li{
            display:inline-block;
           
            &:not(:last-child){
                margin-right:1.5rem;

            }
            a{
                &:link,
                &:visited{
                    color:$color-grey-1;
                    text-transform: uppercase;
                    display:inline-block;
                    text-decoration: none;
                    font-size:1.6rem;
                    transition:all .2s;

                }
                &:hover,
                &:focus,
                &:active{
                    color:$color-primary;
                    box-shadow:0 1rem 2rem rgba($color:$color-dark,$alpha:.4);
                    transform:rotate(5deg) scale(1.2)
                }
            }
        }

    }
    .footer_copyright{
        border-top:1px solid $color-text;
        padding-top:2rem;
        color:$color-grey-1;
        font-size: 1.6rem;
    }
}