 /* ========  hero image css =======*/
.hero{
	height:95vh;
	// background-image:linear-gradient(to right bottom,$color-gradient-one,$color-gradient-two),url(../images/hero.jpg); 
	// background-size:cover;
	// background-position: center center;
	@include backgroundImg(url(../images/hero.jpg) );
	clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
	-webkit-clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
	position:relative;
	.logo{
		position:absolute;
		top:4rem;
		left:4rem;
		img{
			height:3.5rem;
		}
	}
	.heroText{ 
		position: absolute;
		top: 50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align:center;
		h1{
			letter-spacing:3.5rem;
		    animation: moveInRight 1s ease-in-out;
		}
		h2{
			margin-bottom:5rem;
			animation: moveInLeft 1s ease-in-out;
		} 
	}

}