* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
  font-family: 'Lato', sans-serif; }

::selection {
  background-color: #7ed56f;
  color: #fff; }

/* ======== Animation   =======*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(40px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

.heroText h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 6rem;
  letter-spacing: 3.5rem; }

.heroText h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.75rem; }

.section_heading {
  text-align: center;
  margin-top: -20vh;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .section_heading:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading_tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.container {
  width: 114rem;
  margin: 0 auto;
  max-width: 100%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.mb-8 {
  margin-bottom: 8rem; }

.mt-8 {
  margin-top: 8rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-1 {
  margin-bottom: 1rem; }

.pr-6 {
  padding-right: 6rem !important; }

.col_6 {
  float: left;
  width: 50%;
  padding: 0px 1.5rem; }

.col-4 {
  float: left;
  width: 33%;
  padding: 0px 1.5rem; }

.col_3 {
  float: left;
  width: 25%;
  padding: 0px 1.5rem; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.left-border {
  border-left: 1px solid #9999; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all .3s;
  position: relative; }
  .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all .3s;
    position: relative; }
  .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
    .btn:hover:hover::after {
      transform: scale(2);
      opacity: 0; }
  .btn:active {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .btn::after {
    /*     reppel effets*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s; }

.btn-white {
  color: #777;
  background-color: #fff; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  color: #fff;
  background-color: #7ed56f; }
  .btn-green::after {
    background-color: #7ed56f; }

.btn-animated-up {
  animation: moveUp .5s ease-in-out; }

.text_btn:link, .text_btn:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: .3rem;
  transition: all 02s; }
  .text_btn:link:hover, .text_btn:visited:hover {
    background-color: #7ed56f;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .text_btn:link:active, .text_btn:visited:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0px); }

.composition {
  position: relative; }
  .composition_img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    transition: all .2s;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem; }
    .composition_img_1 {
      left: 0;
      top: -2rem; }
    .composition_img_2 {
      right: 0;
      top: 2rem; }
    .composition_img_3 {
      left: 20%;
      top: 10rem; }
    .composition_img:hover {
      transform: scale(1.1);
      z-index: 20;
      outline: 1.5rem solid #7ed56f; }
  .composition:hover .composition_img:not(:hover) {
    transform: scale(0.9); }

/* ========  hero image css =======*/
.hero {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  position: relative; }
  .hero .logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .hero .logo img {
      height: 3.5rem; }
  .hero .heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .hero .heroText h1 {
      letter-spacing: 3.5rem;
      animation: moveInRight 1s ease-in-out; }
    .hero .heroText h2 {
      margin-bottom: 5rem;
      animation: moveInLeft 1s ease-in-out; }

.card {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  -webkit-perspective: 150rem;
  -moz-perspective: 150rem;
  border-radius: .5rem; }
  .card_side {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .8s;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card_front {
    transform: rotate(0deg); }
  .card_back {
    transform: rotateY(-180deg);
    text-align: center; }
    .card_back_cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%; }
    .card_back_1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card_back_2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card_back_3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
    .card_back .card_price_box {
      margin-bottom: 6rem; }
      .card_back .card_price_box .only {
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase; }
      .card_back .card_price_box .price_value {
        color: #fff;
        font-size: 6rem;
        font-weight: 100; }
  .card:hover .card_front {
    transform: rotateY(180deg); }
  .card:hover .card_back {
    transform: rotateY(0deg); }
  .card_picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 20rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card_picture_1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
    .card_picture_2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-6.jpg); }
    .card_picture_3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-7.jpg); }
  .card_heading {
    position: absolute;
    top: 10rem;
    right: 2rem;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 400;
    color: #fff;
    width: 75%;
    text-align: right; }
    .card_heading_span {
      padding: 1rem .1rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
      .card_heading_span_1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card_heading_span_2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
      .card_heading_span_3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card_details {
    padding: 3rem; }
    .card_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card_details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card_details ul li:not(:last-child) {
          border-bottom: 1px solid #9999; }

.feature_box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: all  .2s; }
  .feature_box:hover {
    transform: translateY(-1rem) scale(1.05); }

.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba(255, 255, 255, 0.8);
  transform: skewX(-12deg);
  -webkit-transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg);
    -webkit-transform: skewX(12deg); }
  .story_shape {
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    shape-outside: circle(50% at 50%);
    -webkit-shape-outside: circle(50% at 50%);
    clip-path: circle(50% at 50%);
    margin-right: 2rem;
    position: relative; }
    .story_shape_img {
      height: 100%;
      object-fit: cover;
      transition: all .5s;
      transform: scale(1.3); }
    .story_shape figcaption {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 1.7rem;
      opacity: 0;
      transition: all .2s; }
  .story:hover .story_shape_img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }
  .story:hover .story_shape figcaption {
    top: 45%;
    opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2; }
  .bg-video .content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form_group {
  margin-bottom: 2rem;
  display: inline-block;
  width: 100%; }

.form_control {
  width: 90%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  font-family: inherit;
  border: none;
  border-bottom: 3px solid transparent; }
  .form_control:focus {
    outline: none;
    border-bottom: 3px solid #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form_control:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form_control::placeholder {
    color: #9999; }
  .form_control::-webkit-input-placeholder {
    color: #9999; }

.form_lable {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: .7rem 0 0 2rem;
  transition: all .2s; }

.form_control:placeholder-shown + .form_lable {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form_radio_group {
  width: 49%;
  display: inline-block;
  position: relative; }

.form_radio_input {
  display: none; }

.form_radio_label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem; }

.form_radio_button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.3rem; }
  .form_radio_button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #7ed56f;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }

.form_radio_input:checked + .form_radio_label .form_radio_button::after {
  opacity: 1; }

.myModal {
  position: fixed;
  top: 25vh;
  left: 10vw;
  width: 80vw;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 9999; }

#myModal.visible {
  display: block;
  animation-name: slideDown;
  animation-duration: .5s; }

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: none; }

#backdrop.visible {
  display: block; }

.myModal-body {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.myModal-footer {
  padding: 10px 20px; }

.modal-row {
  display: flex;
  margin: 0 -1.5rem; }
  .modal-row .modal-col-3 {
    width: 25%;
    padding: 0 1.5rem; }
  .modal-row .modal-col-9 {
    width: 75%;
    padding: 0 1.5rem; }

.leftSide img {
  width: 100%;
  object-fit: cover; }

.rightSide {
  width: 100%; }

@keyframes slideDown {
  0% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

.section_footer {
  background-color: #333;
  padding: 15rem 0; }
  .section_footer .footer_logo_box img {
    max-width: 22rem; }
  .section_footer .footer_list {
    border-top: 1px solid #777;
    padding-top: 2rem;
    list-style: none; }
    .section_footer .footer_list li {
      display: inline-block; }
      .section_footer .footer_list li:not(:last-child) {
        margin-right: 1.5rem; }
      .section_footer .footer_list li a:link, .section_footer .footer_list li a:visited {
        color: #f7f7f7;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        transition: all .2s; }
      .section_footer .footer_list li a:hover, .section_footer .footer_list li a:focus, .section_footer .footer_list li a:active {
        color: #7ed56f;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: rotate(5deg) scale(1.2); }
  .section_footer .footer_copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    color: #f7f7f7;
    font-size: 1.6rem; }

.nav ul.navbar_list {
  position: fixed;
  list-style: none;
  height: 0;
  width: 0;
  left: -100%;
  top: 30%;
  z-index: 1000;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all .8s; }
  .nav ul.navbar_list li a:link, .nav ul.navbar_list li a:visited {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    transition: all .4s;
    font-weight: 300;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%; }
  .nav ul.navbar_list li a:hover, .nav ul.navbar_list li a:focus {
    background-position: 100%;
    color: #7ed56f; }
  .nav ul.navbar_list li a span {
    margin-right: 1.5rem;
    display: inline-block; }

.nav .navbar_button {
  position: fixed;
  top: 4rem;
  right: 4rem;
  width: 7rem;
  height: 7rem;
  z-index: 999;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center; }
  .nav .navbar_button .navbar_icon {
    width: 3rem;
    height: .2rem;
    background-color: #333;
    display: inline-block;
    margin-top: 3.5rem;
    position: relative; }
    .nav .navbar_button .navbar_icon::before, .nav .navbar_button .navbar_icon::after {
      content: "";
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav .navbar_button .navbar_icon::before {
      top: -0.8rem; }
    .nav .navbar_button .navbar_icon::after {
      top: 0.8rem; }
  .nav .navbar_button:hover .navbar_icon::before {
    top: -1rem; }
  .nav .navbar_button:hover .navbar_icon::after {
    top: 1rem; }

.nav .navigation_background {
  position: fixed;
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 99;
  border-radius: 50%;
  top: 4.5rem;
  right: 4.5rem;
  transition: all 0.8s cubic-bezier(0.65, 0.55, 0.27, 1.59); }

.nav.active .navbar_button .navbar_icon {
  background: transparent !important; }
  .nav.active .navbar_button .navbar_icon::after {
    transform: rotate(135deg);
    top: 0; }
  .nav.active .navbar_button .navbar_icon::before {
    transform: rotate(-135deg);
    top: 0; }

.nav.active .navigation_background {
  transform: scale(80); }

.nav.active .navbar_list {
  list-style: none;
  position: fixed;
  width: 100%;
  left: 45%;
  top: 30%;
  z-index: 1000;
  transform: translate(-50%, -50%); }

.about_us {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh; }

.feature_section {
  padding: 20rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  background-size: cover;
  background-position: center center;
  transform: skewY(-5deg);
  margin-top: -10rem; }
  .feature_section > * {
    transform: skewY(5deg); }
  .feature_section_icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1rem; }

.section_tours {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh; }

.section_stories {
  padding: 15rem 0;
  position: relative; }

.section_book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(104deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/nat-10.jpg);
  border-radius: 3px;
  height: 55rem;
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book_form {
    width: 50%;
    padding: 6rem; }

/* ==========   font Units   >> 1rem >> 16px === 1 rem is relate to root element > html  */
/*color>> 
	lightGreen: #7ed56f
	mGreen:#55c77a
	darkGreen:#28b485
	 */
/* 
:root{
	
	--myPri-color:#7ed56f;
	--mySec-color:#28b485;
}

========  hero image css  end  =======*/
