.card{
    height:50rem;
    position:relative;
    perspective: 150rem;
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    border-radius: .5rem;
    
    &_side{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: all .8s;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-dark, $alpha:.15) ;

    }
    &_front{
        transform:rotate(0deg)
    }
    &_back{
        transform:rotateY(-180deg);
        text-align: center;
        &_cta{
           position:absolute;
           top:50%;
           left:50%;
           transform: translate(-50% , -50%); 
           width:85%;
        }
        &_1{
            background-image: linear-gradient(
              to bottom right,rgba($color-secondary-light, .8),
              rgba($color-secondary-dark, .8));
        }
        &_2{
            background-image: linear-gradient(
              to bottom right,rgba($color-primary, .8),
              rgba($color-darkgreen, .8));
        }
        &_3{
            background-image: linear-gradient(
              to bottom right,rgba($color-tertiary-light, .8),
              rgba($color-tertiary-dark, .8));
        }
        
        .card_price_box{
            margin-bottom:6rem;
            .only{
                color:$color-white;
                font-size:1.6rem;
                text-transform: uppercase;
            }
            .price_value{
                color:$color-white;
                font-size:6rem;
                font-weight: 100;
            }
        }
    }
    &:hover &_front{
        transform:rotateY(180deg)
    }
    &:hover &_back{
        transform:rotateY(0deg)
    }
    &_picture{
        background-size: cover;
        background-blend-mode: screen;
        height: 20rem;
        clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
        -webkit-clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
        box-shadow: 0 1.5rem 4rem rgba($color: $color-dark, $alpha:.15) ;
        &_1{
            background-image:linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark),url(../images/nat-5.jpg) ;
        }
        &_2{
            background-image:linear-gradient(to right bottom, $color-primary,$color-darkgreen),url(../images/nat-6.jpg) ;
        }
        &_3{
          background-image:linear-gradient(to right bottom,$color-tertiary-light ,$color-tertiary-dark),url(../images/nat-7.jpg) ;
        }
    }
    &_heading{
        position:absolute;
        top:10rem;
        right:2rem;
        text-transform: uppercase;
        font-size:2.8rem;
        font-weight:400;
        color:$color-white;
        width:75%;
        text-align:right;
        &_span{
            padding:1rem .1rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            &_1{
                background-image:linear-gradient(
                    to right bottom,
                    rgba($color-secondary-light, .8) ,
                    rgba($color-secondary-dark, .8) );
            }
            &_2{
                background-image:linear-gradient(
                    to right bottom,
                    rgba($color-primary, .8) ,
                    rgba( $color-darkgreen, .8) );
            }
            &_3{
                background-image:linear-gradient(
                    to right bottom,
                    rgba( $color-tertiary-light, .8) ,
                    rgba($color-tertiary-dark, .8) );
            }
        }
    }
 
    &_details{
        padding:3rem;
        ul{
            list-style: none;
            width:80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding:1rem;
               &:not(:last-child){
                   border-bottom:1px solid $color-grey-2;
               }
            }
        }
    }
}
