.composition{
    position:relative;

    &_img{
        width:55%;
        box-shadow:0 1.5rem 4rem rgba($color-dark, .4);
        border-radius:.2rem;
        transition:all .2s;
        position:absolute;
        z-index:10;
        outline-offset: 2rem;

        &_1{
            left:0;
            top:-2rem;  
    
        }
        &_2{
            right:0;
            top:2rem;   
        }
        &_3{
            left:20%;
            top:10rem;   
        }
        //common class hence it will applied to all images
         &:hover{
        transform:scale(1.1);
        z-index:20;
        outline:1.5rem solid $color-primary;

         }
    }
    
    &:hover &_img:not(:hover){
        transform:scale(0.9)
    }
}