.feature_box{
    background-color: rgba($color:$color-white,$alpha:.8);
    font-size: 1.5rem;
    padding:2.5rem;  
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color:$color-dark,$alpha:.15);
    border-radius: 5px;
    transition:all  .2s;
    &:hover{
        transform:translateY(-1rem) scale(1.05);
        
    }
  }