.myModal{
	position: fixed;
	top:25vh;
 
	left:10vw;
	width: 80vw;
	background-color: #fff;
	border-radius:6px;
	box-shadow: 0 1px 8px rgba(0,0,0,.25);
	display:none;
	z-index: 9999;
}
#myModal.visible{
	display:block;
	animation-name: slideDown; 
	animation-duration:.5s;
}
#backdrop{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.25);
	display:none;
}
#backdrop.visible{
	display:block;
}
.myModal-body{
	padding:10px 20px;
	border-bottom:1px solid rgba(0,0,0,.2);
}

.myModal-footer{
	padding: 10px 20px;
}
.modal-row{
    display:flex;
    margin: 0 -1.5rem;
    .modal-col-3{
        width:25%;
        padding: 0 1.5rem;
       
        
    }
    .modal-col-9{
        width:75%;
        padding: 0 1.5rem;
        
    }

}

.leftSide{
    img{
        width:100%;
        object-fit:cover;
    }
}
.rightSide{
    
        width:100%;
        
        
    }

@keyframes slideDown{
	0%{
		transform:translateY(-20px);
	}
	100%{
		transform:translateY(0px);

	}
}