.story{
    width:75%;
    margin:0 auto;
    padding:6rem;
    background-color: rgba($color:$color-white,$alpha:.8);
    transform: skewX(-12deg);
    -webkit-transform: skewX(-12deg);
    > *{
        transform: skewX(12deg);
        -webkit-transform: skewX(12deg);
    }
    
    &_shape{
        
        float:left;
        width:15rem;
        height:15rem;
        //border-radius:50%;
        overflow: hidden;
        shape-outside: circle(50% at 50%);
        -webkit-shape-outside: circle(50% at 50%);
        clip-path: circle(50% at 50%);
        margin-right:2rem;
        position:relative;
    
        &_img{
             
            height:100%;
            object-fit:cover;
            transition:all .5s;
            transform:scale(1.3);
        }
		 figcaption{ 
             position:absolute;
             top:50%;
             width:100%;
             text-align: center;
             color:#fff; 
             font-size: 1.7rem;
             opacity: 0;
             transition: all .2s;

         }
    }
    &:hover &_shape{
        &_img{
            transform:scale(1);
            filter:blur(3px) brightness(80%);
        }
        figcaption{
            top:45%;
            opacity: 1;
        }
   }
     
}